<ol class="breadcrumb">
	<li class="breadcrumb-item">
	  <a>Styles</a>
	</li>
</ol>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link " [routerLink]="['./header']" routerLinkActive="active" >Header</a>
    <a class="nav-item nav-link " [routerLink]="['./footer']" routerLinkActive="active" >Footer</a>
    <!--a class="nav-item nav-link " [routerLink]="['./css']" routerLinkActive="active" >CSS</a-->
    <!--a class="nav-item nav-link " [routerLink]="['./js']" routerLinkActive="active" >JS</a-->

  </div>
</nav>
<router-outlet></router-outlet>