<div class="jumbotron">
  <h1 class="display-4">Welcome {{owner}}</h1>
  <p class="lead">This is the Smart Reporting Enabler.</p>
  <hr class="my-4">
  <p>Please manage your template on the left side</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" (click)="opencreatetpl(templatetpl)" role="button">Create new template</a>
  </p>
</div>

<!-- create template modal -->
<ng-template #templatetpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create a new template</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
          <div class="form-group">
            <label for="tplName" class="col-form-label">Template Name</label>
            <input [(ngModel)]="tplName" name="tplName" #tplNamemodel="ngModel" type="text" class="form-control" placeholder="Your template's name here" id="tplName">
          </div>
        </form>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createtpl()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
      </div>
</ng-template>